doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "An anonymous, secure tip box to suggest news stories for The Phillipian")
    meta(name = "author" content = "Jeffrey Shen")
    title The Phillipian | Anonymous News Tips
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
    script(src='bower_components/jquery/dist/jquery.min.js')
  body
    #wrapper
      iframe(src="#" id="no-target" name="no-target" style="display:none")
      form#form(method='POST' action="" target="no-target")
        h1 The Phillipian
        input#input-name(placeholder = "Enter anonymous news tip" name="name")
        button#form-submit(type="submit") SUBMIT
        p#thanks(hidden) Your tip has been submitted. Thanks!
      p#attribution J.Shen/The Phillipian
      p#source Source code <a href = "https://github.com/phillipian/anonymous-tipbox" target = "_blank">here</a>
    script(src='dist/script-min.js')
